.parac{
    display:flex;
    text-align:start;
    justify-content:center;
    margin-left: -50%;
    align-items:center;
}

.title{
    overflow:hidden;
}

@media screen and (max-width: 768px){
    .parac{
        display:flex;
        text-align:start;
        justify-content:center;
        margin-left: -100%;
        align-items:center;
    }
}